config/wsdl/zhs_install_notif_cr_webserv-PRD.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsoap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="urn:sap-com:document:sap:soap:functions:mc-style" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:n1="urn:sap-com:document:sap:rfc:functions" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
<wsdl:documentation>
    <sidl:sidl xmlns:sidl="http://www.sap.com/2007/03/sidl"/>
</wsdl:documentation>
<wsp:UsingPolicy wsdl:required="false"/>
<wsp:Policy wsu:Id="BN__ZHS_INSTALL_NOTIF_CR_WEBSERV">
    <wsp:ExactlyOne>
        <wsp:All>
            <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
            <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
            <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
                <sp:TransportToken>
                    <wsp:Policy>
                        <sp:HttpsToken>
                            <wsp:Policy>
                                <sp:HttpBasicAuthentication/>
                            </wsp:Policy>
                        </sp:HttpsToken>
                    </wsp:Policy>
                </sp:TransportToken>
                <sp:AlgorithmSuite>
                    <wsp:Policy>
                        <sp:Basic128Rsa15/>
                    </wsp:Policy>
                </sp:AlgorithmSuite>
                <sp:Layout>
                    <wsp:Policy>
                        <sp:Strict/>
                    </wsp:Policy>
                </sp:Layout>
            </wsp:Policy>
        </sp:TransportBinding>
    </wsp:All>
</wsp:All>
<wsp:All>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
    <wsp:Policy>
        <sp:TransportToken>
            <wsp:Policy>
                <sp:HttpsToken>
                    <wsp:Policy>
                        <sp:HttpBasicAuthentication/>
                    </wsp:Policy>
                </sp:HttpsToken>
            </wsp:Policy>
        </sp:TransportToken>
        <sp:AlgorithmSuite>
            <wsp:Policy>
                <sp:Basic128Rsa15/>
            </wsp:Policy>
        </sp:AlgorithmSuite>
        <sp:Layout>
            <wsp:Policy>
                <sp:Strict/>
            </wsp:Policy>
        </sp:Layout>
    </wsp:Policy>
</sp:TransportBinding>
</wsp:All>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="BN__ZHS_INSTALL_NOTIF_CR_WEBSERV_soap12">
    <wsp:ExactlyOne>
        <wsp:All>
            <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
            <saptrnbnd:OptimizedMimeSerialization xmlns:saptrnbnd="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
            <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
            <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
            <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
            <wsp:Policy>
                <sp:TransportToken>
                    <wsp:Policy>
                        <sp:HttpsToken>
                            <wsp:Policy>
                                <sp:HttpBasicAuthentication/>
                            </wsp:Policy>
                        </sp:HttpsToken>
                    </wsp:Policy>
                </sp:TransportToken>
                <sp:AlgorithmSuite>
                    <wsp:Policy>
                        <sp:Basic128Rsa15/>
                    </wsp:Policy>
                </sp:AlgorithmSuite>
                <sp:Layout>
                    <wsp:Policy>
                        <sp:Strict/>
                    </wsp:Policy>
                </sp:Layout>
            </wsp:Policy>
        </sp:TransportBinding>
    </wsp:All>
</wsp:All>
<wsp:All>
    <sapattahnd:Enabled xmlns:sapattahnd="http://www.sap.com/710/features/attachment/">false</sapattahnd:Enabled>
    <saptrnbnd:OptimizedXMLTransfer xmlns:saptrnbnd="http://www.sap.com/webas/710/soap/features/transportbinding/" uri="http://xml.sap.com/2006/11/esi/esp/binxml" wsp:Optional="true"/>
    <wsaw:UsingAddressing xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" wsp:Optional="true"/>
    <wsp:All xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <sp:TransportBinding xmlns:sp="http://docs.oasis-open.org/ws-sx/ws-securitypolicy/200702" xmlns:sapsp="http://www.sap.com/webas/630/soap/features/security/policy" xmlns:wsa="http://www.w3.org/2005/08/addressing" xmlns:wst="http://docs.oasis-open.org/ws-sx/ws-trust/200512" xmlns:wsu="http://schemas.xmlsoap.org/ws/2002/07/utility" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex">
    <wsp:Policy>
        <sp:TransportToken>
            <wsp:Policy>
                <sp:HttpsToken>
                    <wsp:Policy>
                        <sp:HttpBasicAuthentication/>
                    </wsp:Policy>
                </sp:HttpsToken>
            </wsp:Policy>
        </sp:TransportToken>
        <sp:AlgorithmSuite>
            <wsp:Policy>
                <sp:Basic128Rsa15/>
            </wsp:Policy>
        </sp:AlgorithmSuite>
        <sp:Layout>
            <wsp:Policy>
                <sp:Strict/>
            </wsp:Policy>
        </sp:Layout>
    </wsp:Policy>
</sp:TransportBinding>
</wsp:All>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="IF__ZHS_INSTALL_notif_cr_webserv">
    <wsp:ExactlyOne>
        <wsp:All>
            <sapsession:Session xmlns:sapsession="http://www.sap.com/webas/630/soap/features/session/">
            <sapsession:enableSession>false</sapsession:enableSession>
        </sapsession:Session>
        <sapcentraladmin:CentralAdministration xmlns:sapcentraladmin="http://www.sap.com/webas/700/soap/features/CentralAdministration/" wsp:Optional="true">
        <sapcentraladmin:BusinessApplicationID>0050569561AB1EE3998A172F8572F7E6</sapcentraladmin:BusinessApplicationID>
    </sapcentraladmin:CentralAdministration>
</wsp:All>
</wsp:ExactlyOne>
</wsp:Policy>
<wsp:Policy wsu:Id="OP__ZhsInstallNotifCrWebserv">
    <wsp:ExactlyOne>
        <wsp:All>
            <saptrhnw05:required xmlns:saptrhnw05="http://www.sap.com/NW05/soap/features/transaction/">no</saptrhnw05:required>
            <sapcomhnd:enableCommit xmlns:sapcomhnd="http://www.sap.com/NW05/soap/features/commit/">false</sapcomhnd:enableCommit>
            <sapblock:enableBlocking xmlns:sapblock="http://www.sap.com/NW05/soap/features/blocking/">true</sapblock:enableBlocking>
            <saprmnw05:enableWSRM xmlns:saprmnw05="http://www.sap.com/NW05/soap/features/wsrm/">false</saprmnw05:enableWSRM>
        </wsp:All>
    </wsp:ExactlyOne>
</wsp:Policy>
<wsdl:types>
    <xsd:schema attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:rfc:functions">
        <xsd:simpleType name="char1">
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="1"/>
            </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="char10">
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="10"/>
            </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="char12">
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="12"/>
            </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="char17">
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="17"/>
            </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="char18">
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="18"/>
            </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="char220">
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="220"/>
            </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="char30">
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="30"/>
            </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="decimal15.0">
            <xsd:restriction base="xsd:decimal">
                <xsd:totalDigits value="15"/>
                <xsd:fractionDigits value="0"/>
            </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="numeric3">
            <xsd:restriction base="xsd:string">
                <xsd:maxLength value="3"/>
                <xsd:pattern value="\d*"/>
            </xsd:restriction>
        </xsd:simpleType>
        <xsd:simpleType name="string">
            <xsd:restriction base="xsd:string"/>
        </xsd:simpleType>
    </xsd:schema>
    <xsd:schema xmlns:n0="urn:sap-com:document:sap:rfc:functions" attributeFormDefault="qualified" targetNamespace="urn:sap-com:document:sap:soap:functions:mc-style">
        <xsd:import namespace="urn:sap-com:document:sap:rfc:functions"/>
        <xsd:complexType name="ZhsStrMessageReturn">
            <xsd:sequence>
                <xsd:element name="Type" type="n0:char1"/>
                <xsd:element name="Message" type="n0:char220"/>
                <xsd:element name="Code" type="n0:numeric3"/>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:complexType name="ZhsTabMessageReturn">
            <xsd:sequence>
                <xsd:element name="item" type="tns:ZhsStrMessageReturn" minOccurs="0" maxOccurs="unbounded"/>
            </xsd:sequence>
        </xsd:complexType>
        <xsd:element name="ZhsInstallNotifCrWebserv">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="IMacAddress" type="n0:char17"/>
                    <xsd:element name="IMachGenCode" type="n0:string"/>
                    <xsd:element name="ISerno" type="n0:char18"/>
                    <xsd:element name="IServiceTechid" type="n0:char10"/>
                    <xsd:element name="ISoftwarever" type="n0:char30"/>
                    <xsd:element name="ITimestamp" type="n0:decimal15.0"/>
                    <xsd:element name="IUsername" type="n0:char12"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
        <xsd:element name="ZhsInstallNotifCrWebservResponse">
            <xsd:complexType>
                <xsd:sequence>
                    <xsd:element name="EExtensionTime" type="n0:string"/>
                    <xsd:element name="ENotificationNo" type="n0:char12"/>
                    <xsd:element name="EResultCode" type="n0:string"/>
                    <xsd:element name="EtReturn" type="tns:ZhsTabMessageReturn"/>
                </xsd:sequence>
            </xsd:complexType>
        </xsd:element>
    </xsd:schema>
</wsdl:types>
<wsdl:message name="ZhsInstallNotifCrWebserv">
    <wsdl:part name="parameters" element="tns:ZhsInstallNotifCrWebserv"/>
</wsdl:message>
<wsdl:message name="ZhsInstallNotifCrWebservResponse">
    <wsdl:part name="parameter" element="tns:ZhsInstallNotifCrWebservResponse"/>
</wsdl:message>
<wsdl:portType name="ZHS_INSTALL_notif_cr_webserv">
    <wsdl:documentation>
        <sapdoc:sapdoc xmlns:sapdoc="urn:sap:esi:documentation">
            <sapdoc:docitem applicationComponent="EP"/>
        </sapdoc:sapdoc>
    </wsdl:documentation>
    <wsp:Policy>
        <wsp:PolicyReference URI="#IF__ZHS_INSTALL_notif_cr_webserv"/>
    </wsp:Policy>
    <wsdl:operation name="ZhsInstallNotifCrWebserv">
        <wsp:Policy>
            <wsp:PolicyReference URI="#OP__ZhsInstallNotifCrWebserv"/>
        </wsp:Policy>
        <wsdl:input message="tns:ZhsInstallNotifCrWebserv"/>
        <wsdl:output message="tns:ZhsInstallNotifCrWebservResponse"/>
    </wsdl:operation>
</wsdl:portType>
<wsdl:binding name="ZHS_INSTALL_NOTIF_CR_WEBSERV" type="tns:ZHS_INSTALL_notif_cr_webserv">
    <wsp:Policy>
        <wsp:PolicyReference URI="#BN__ZHS_INSTALL_NOTIF_CR_WEBSERV"/>
    </wsp:Policy>
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZhsInstallNotifCrWebserv">
        <soap:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHS_INSTALL_notif_cr_webserv:ZhsInstallNotifCrWebservRequest" style="document"/>
        <wsdl:input>
            <soap:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <soap:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>
<wsdl:binding name="ZHS_INSTALL_NOTIF_CR_WEBSERV_soap12" type="tns:ZHS_INSTALL_notif_cr_webserv">
    <wsp:Policy>
        <wsp:PolicyReference URI="#BN__ZHS_INSTALL_NOTIF_CR_WEBSERV_soap12"/>
    </wsp:Policy>
    <wsoap12:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
    <wsdl:operation name="ZhsInstallNotifCrWebserv">
        <wsoap12:operation soapAction="urn:sap-com:document:sap:soap:functions:mc-style:ZHS_INSTALL_notif_cr_webserv:ZhsInstallNotifCrWebservRequest" style="document"/>
        <wsdl:input>
            <wsoap12:body use="literal"/>
        </wsdl:input>
        <wsdl:output>
            <wsoap12:body use="literal"/>
        </wsdl:output>
    </wsdl:operation>
</wsdl:binding>
<wsdl:service name="ZHS_INSTALL_NOTIF_CR_WEBSERV">
    <wsdl:port name="ZHS_INSTALL_NOTIF_CR_WEBSERV" binding="tns:ZHS_INSTALL_NOTIF_CR_WEBSERV">
        <soap:address location="https://ecc.haascnc.com/sap/bc/srt/rfc/sap/zhs_install_notif_cr_webserv/300/zhs_install_notif_cr_webserv/zhs_install_notif_cr_webserv"/>
    </wsdl:port>
    <wsdl:port name="ZHS_INSTALL_NOTIF_CR_WEBSERV_soap12" binding="tns:ZHS_INSTALL_NOTIF_CR_WEBSERV_soap12">
        <wsoap12:address location="https://ecc.haascnc.com/sap/bc/srt/rfc/sap/zhs_install_notif_cr_webserv/300/zhs_install_notif_cr_webserv/zhs_install_notif_cr_webserv"/>
    </wsdl:port>
</wsdl:service>
</wsdl:definitions>
